.about-container {
  margin: 0px !important;
  background-color: #15202b !important;
  padding: 40px;
}


@media screen and (min-width: 700px){
  .img-max{
    max-width: 300px !important;
  }
}

.about-introduction{
  color: white;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}