
.project-name{
  margin: 50px;
  font-weight: bold;
  font-size: 30px;
} 
.project-summary{
  margin: 50px;
}

.project-style{
  color: white;

}
.card-title{
  font-weight: bold;
}
.card-body{
  padding: 10px 10px 10px 10px !important;
  background-color: #154c79 !important;
}
.card-link{
  text-decoration: none;
  color: white;
}
.card-link:hover{
  text-decoration: underline;
  color: white;
}
.btn-primary{
  margin: 10px;
}